/* GENERAL */

/* Déclaration des différentes couleurs afin d'utiliser des variables au lieu des codes hexadécimaux */

:root {
    --white: #FFF; 
    --yellow: #FED385;
    --grey: #F2F2F2;
    --tiny-grey: #D9D9D9;
    --blue: #0065FC; 
    --black: #000000;
    --light-blue: #DEEBFF;
  }

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 20px;
    font-size: 16px;
    font-weight: 400;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

/*************************************/
/* DRY */

.hidden {
    overflow: hidden;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.flex-center {
    display: flex;    
    align-items: center;
}

.radius20 {
    border-radius: 20px;
}

.shadow {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.cover {
    object-fit: cover;   /* pour faire contenir dans l'espace et qu'elle soit tronquée, non étirée */
}

/*************************************/


/* Couleurs de fonds */

.bleu {
    background: var(--blue);
    color: var(--white);
}

.gris {
    background: var(--grey);
}

/* Partie Header */

header {
    padding-top: 44px;
    padding-bottom: 64px;
}

header >ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header >ul >li >a {
    padding: 0 30px;
    padding-top: 40px;
}

header >ul >li >a:hover {
    color: var(--blue);
    border-top: solid var(--blue);
}

#logo {
    width: 61px;
    height: 19px;
}



/* Partie Main */

    /* Sous partie Recherche */

.recherche >p {
    padding-bottom: 20px;
    padding-top: 8px;
}

.recherche >p i{
    color: var(--blue);
    font-size: 24px;
}


.barrecherche {
    width: 430px;    
    border-radius: 15px;
}

.barrecherche form {
    display: flex;
}

label {
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 15px 0 0 15px;
    justify-content: center;
}

label >i {
    margin: 0 15px 0 15px;
}

button {
    width: 100%;
    border-radius: 0 15px 15px 0;
    border: none;
    justify-content: center;
}

button >h2 {
    margin: 0 15px 0 15px;
}

.fa-location-dot {
    color:var(--black);
    font-size: 20px;
}

.fa-magnifying-glass {
    font-size: 20px;
}

form input {
    border: 1px solid var(--grey);
    font-size: 18px;
    font-weight: bold;
}

#visible2 {
    display: none;
    color: var(--white);
}

.filtres {
    padding: 30px 0 0 0;
}

.filtres >div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choix div {
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid var(--tiny-grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choix div i {
    margin: 0 16px 0 0;
    color: var(--blue);
    font-size: 22px;
}

.choix div:hover {
    background: var(--light-blue);              /*faire passer la bulle en bleu en passant dessus */
}

#plus {
    padding-bottom: 40px;
    padding-top: 30px;
    display: flex;
}

#plus div {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: 1px solid var(--grey);
    justify-content: center;
    margin-right: 20px;
}

#plus div i {
    text-align: center;
    color: var(--blue);
}

    /* Sous partie Hébergement */

.ville {
    width: 60%;
    padding: 40px;
}

.ville h1 {
    margin-bottom: 23px;
}

.ville h2 {
    margin-top: 10px;
}

.chambre {
    width: 30%;
    height: 199px;
    background: var(--white);
    border: 6px solid var(--white);
    margin-bottom: 30px;
}

.chambre img {
    width: 100%;
    height: 124px;
}

.chambre p {
    margin: 4px 4px 4px 16px;
}

.chambre i {
    color: var(--blue);
    font-size: 12px;
}

.chambre i:nth-child(5) {
    color: var(--grey);      /*pour que la cinquième étoile ait une couleur différente*/
}

.populaire {
    width: 25%;
    padding: 40px 40px 0 40px;
}

.populaire >div >i {
    color: var(--blue);
    font-size: 16px;
}

.colonne {
    flex-direction: column;
    align-items: center;    
    margin-top: 30px;
}

.colonne .chambre {
    width: 100%;
    height: 144px;
    display: flex;
    background: var(--white);
    border: 6px solid var(--white);
}

.colonne .chambre >div {
    margin-top: 10px;
}

.colonne .chambre >div >p {
    margin-bottom: 7px;
}

.colonne .chambre img {
    width: 137px;
    height: 100%;
}

.colonne .chambre p {
    margin: 7px 7px 7px 16px;
}

.colonne .chambre i {
    color: var(--blue);
    font-size: 12px;
}

.star {
    padding-top: 44px;
}

.colonne .chambre i:nth-child(5) {
    color: var(--grey);      /*pour que la cinquième étoile ait une couleur différente*/
}

    /* Sous partie Acivités */

#activites {
    padding: 40px 0;
}

#activites h1 {
    padding: 20px 0;
}

.activity {
    width: 302px;
    height: 445px;
    background: var(--white);
}

.activity img {
    width: 100%;
    height: 390px;
}

.activity p {
    padding: 20px 0;
    padding-left: 20px;
}



/* Partie Footer */

footer >section {
    padding: 45px 70px;
    display: flex;
    justify-content: flex-start;
}

.afooter {
    width: 35%;
}






/*************************************************************************************/

/* Responsive pour téléphones portables */

@media screen and (max-width: 768px) {
    
body {
    max-width: 100%;
    margin: auto;
}

        /* Header pour portables */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid var(--light-blue);
}

header ul {
    width: 100%;
    justify-content: space-around;
}

#logo {
    margin-bottom: 20px;
}

header >ul >li >a {
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: solid var(--light-blue);
}

header >ul >li >a:hover {
    border-bottom: solid var(--blue);
    border-top: none;
}

        /* Main pour portables */

        /* Barre de recherche */

main {
    margin-top: 30px;
}

.barrecherche {
    width: 90%;
}

.recherche {    
    margin-left: 20px;
    margin-right: 20px;
}

.barrecherche >div:nth-child(3) {
    width: 50px;
}

form input {
    width: 100%;
}

#visible1 {
    display: none;
}

#visible2 {
    display: flex;
}

        /* Filtres */

form {
    width: 70%;
}

.filtres {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.filtres div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.filtres .choix {
    width: 100%;
}

.choix div {
    margin: 10px;
    padding: 15px;
}

label {
    width: 30%;
}

button {
    width: 30%;
}

.choix h2 {
    font-size: 11px;
}

        /* Hébergement */

#hebergement {
    flex-direction: column-reverse;
}

#hebergement >div {
    border-radius: 0px;
}

.colonne .chambre {
    width: 80%;
}

.ligne .chambre {
    width: 80%;
}

.populaire {
    width: 100%;
    padding: 40px 0 0 0;
}

.populaire >div{
    padding-left: 20px;
    padding-right: 20px;
}

.ville {
    width: 100%;
    padding: 40px 0 0 0;
    background: var(--white);
}

.ville h1 {
    margin-left: 20px;
}

.ville h2 {
    margin-left: 20px;
}

.ligne {
    flex-direction: column;
    align-items: center;
}

        /* Activités portable */

#activites h1 {
    margin-left: 20px;
}

#activites aside >a {
    margin-bottom: 20px;
}

.activity {
    height: 190px;
    width: 80%;
}

.activity img {
    height: 70%;
}

.activity p {
    padding: 15px 0 0 15px;
}


    /* Footer portable */

footer >section {
    padding: 20px 0 0 20px;
    flex-direction: column;
}

.afooter {
    margin: 20px 30px;
}
}

.afooter p{
    margin: 10px 0;
    width: 80vh;
}





/*************************************************************************************/

/* Responsive pour tablettes */

@media screen and (min-width:768px) and (max-width: 992px) {

body {
    margin: 0 20px;
}

.flex-sb {
    display: flex;
    justify-content: space-around;
}

    /* Hebergement tablettes */

#hebergement {
    flex-direction: column;
}

#hebergement >div {
    margin-bottom: 20px;
}

.ville {
    width: 100%;
    padding: 20px 0 0 0;
}

.ville >h1 {
    padding-left: 40px;
}

.ville >h2 {
    padding: 0 0 20px 40px;
}

.ligne {
    justify-content: space-around;
}

.chambre {
    width: 25%;
}

.populaire {
    width: 100%;
    padding: 0;
}

.populaire >div {
    padding: 0 40px;
    margin: 34px 0 0 0;
}

.populaire h1 {
    margin: 0;
}

.colonne {
    flex-direction: row;
    justify-content: space-around;
}

.colonne .chambre {
    width: 28%;
}

.colonne .chambre img {
    width: 40%;
}

.colonne .chambre >div >p {
    font-size: 14px;
    margin: 0 0 0 10px;
}

.star {
    padding-top: 40px 0 0 0;
}

    /* Activités tablettes */

.activity {
    width: 20%;
    height: 20%;
}

.activity a {
    overflow: hidden;
}

.activity img {
    height: 200px;
}

    /* Footer tablettes */

footer >section {
    padding: 45px 40px;
}

}

/********************************/
@media screen and (min-width:1400px) {
body {
    margin: auto;
}
}